<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkingBuddy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            {{!-- <ul>
                <li>
                    <a href="http://localhost:3001/">Home</a>
                </li>
                <li>
                    <a href="http://localhost:3001/login">Log-In</a>
                </li>
            </ul> --}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
</body>

</html>