<h1>ADMIN PORTAL</h1>

<section>
    <p>Administrators will be able to view and either approve or deny queued requests from residents here. Requests should be presented upon opening the portal, sorted chronologically. They can also view all available parking data</p>
    <ul>
        <li><button type="button" class="btn btn-primary">GET total spots</button></li>
        <li><button type="button" class="btn btn-primary">GET permanent resident spot</button></li>
        <li><button type="button" class="btn btn-primary">GET used/unused guest parking spots</button></li>
        <li><button type="button" class="btn btn-primary">GET all/specific vehicle info</button></li>
        <li><button type="button" class="btn btn-info">PUT update resident information</button></li>
        <li><button type="button" class="btn btn-info">PUT update total parking</button></li>
        <li><button type="button" class="btn btn-info">PUT update available guest spots</button></li>
        <li><button type="button" class="btn btn-success">POST new residents</button></li>
        <li><button type="button" class="btn btn-success">POST new permanent parking</button></li>
        <li><button type="button" class="btn btn-success">POST new resident vehicle info</button></li>
        <li><button type="button" class="btn btn-danger">DELETE everything</button></li>
    </ul>
</section>
