<h1>ADMIN PORTAL</h1>

<section>
    <p>Administrators will be able to view and either approve or deny queued requests from residents here. Requests should be presented upon opening the portal, sorted chronologically. They can also view all available parking data</p>
</section>
