<h1>Welcome to Parking Buddy!</h1>
<p>This is your virtual parking portal. From this one site, you can manage your permanent spots, update your information, and put in requests for guest spots. As a resident at the elegant Apartment, you are entitled to two reserved parking spaces throughout the length of your lease. You may request up to two guest parking spots, which are approved on a first come, first served basis, for up to a week. Please log-in above to view and manage your parking details.</p>
<ul>
    <li><a href="/login">Log-In</a></li>
</ul>
