<h1>USER PORTAL</h1>

<section>
    <p>Users will be able to view their parking spaces and make requests for additional spaces here. Tables will be rendered below after queries.</p>
    <ul>
        <li><button type="button" class="btn btn-primary">GET available guest parking spots</button></li>
        <li><button type="button" class="btn btn-primary">GET info from their personal spots</button></li>
        <li><button type="button" class="btn btn-primary">GET vehicle information</button></li>
        <li><button type="button" class="btn btn-info">PUT update vehicle information</button></li>
        <li><button type="button" class="btn btn-info">PUT update account information</button></li>
        <li><button type="button" class="btn btn-info">POST request guest spot using vehicle info</button></li>
    </ul>
</section>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
